/spaceinvader/[Ll]ibrary/
/spaceinvader/[Tt]emp/
/spaceinvader/[Oo]bj/
/spaceinvader/[Bb]uild/
/spaceinvader/[Bb]uilds/
/spaceinvader/[Ll]ogs/
/spaceinvader/[Uu]ser[Ss]ettings/
/spaceinvader/[Mm]emoryCaptures/
/spaceinvader/[Rr]ecordings/
/spaceinvader/[Aa]ssets/Plugins/Editor/JetBrains*
/spaceinvader/.vs/
/spaceinvader/.gradle/
/spaceinvader/ExportedObj/
/spaceinvader/.consulo/
/spaceinvader/*.csproj
/spaceinvader/*.unityproj
/spaceinvader/*.sln
/spaceinvader/*.suo
/spaceinvader/*.tmp
/spaceinvader/*.user
/spaceinvader/*.userprefs
/spaceinvader/*.pidb
/spaceinvader/*.booproj
/spaceinvader/*.svd
/spaceinvader/*.pdb
/spaceinvader/*.mdb
/spaceinvader/*.opendb
/spaceinvader/*.VC.db
/spaceinvader/*.pidb.meta
/spaceinvader/*.pdb.meta
/spaceinvader/*.mdb.meta
/spaceinvader/sysinfo.txt
/spaceinvader/*.apk
/spaceinvader/*.aab
/spaceinvader/*.unitypackage
/spaceinvader/*.app
/spaceinvader/crashlytics-build.properties
/spaceinvader/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/spaceinvader/[Aa]ssets/[Ss]treamingAssets/aa.meta
/spaceinvader/[Aa]ssets/[Ss]treamingAssets/aa/*





/flappybird/[Ll]ibrary/
/flappybird/[Tt]emp/
/flappybird/[Oo]bj/
/flappybird/[Bb]uild/
/flappybird/[Bb]uilds/
/flappybird/[Ll]ogs/
/flappybird/[Uu]ser[Ss]ettings/
/flappybird/[Mm]emoryCaptures/
/flappybird/[Rr]ecordings/
/flappybird/[Aa]ssets/Plugins/Editor/JetBrains*
/flappybird/.vs/
/flappybird/.gradle/
/flappybird/ExportedObj/
/flappybird/.consulo/
/flappybird/*.csproj
/flappybird/*.unityproj
/flappybird/*.sln
/flappybird/*.suo
/flappybird/*.tmp
/flappybird/*.user
/flappybird/*.userprefs
/flappybird/*.pidb
/flappybird/*.booproj
/flappybird/*.svd
/flappybird/*.pdb
/flappybird/*.mdb
/flappybird/*.opendb
/flappybird/*.VC.db
/flappybird/*.pidb.meta
/flappybird/*.pdb.meta
/flappybird/*.mdb.meta
/flappybird/sysinfo.txt
/flappybird/*.apk
/flappybird/*.aab
/flappybird/*.unitypackage
/flappybird/*.app
/flappybird/crashlytics-build.properties
/flappybird/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/flappybird/[Aa]ssets/[Ss]treamingAssets/aa.meta
/flappybird/[Aa]ssets/[Ss]treamingAssets/aa/*